.services{
    text-align: center;
    margin: 0 auto;
    font-family: sans-serif;
  }
  .section-title{
    text-align: center;
    font-weight: 900;
    font-size: 26px;
   color: coral;
   font-family: sans-serif;
  }
  .section-line{
    width: 137px;
    height: 3px;
    background-color: crimson;
    text-align: center;
    display: inline-block;
 position: relative;
  }
 
  .section-radius{
    text-align: center;
    display: inline-block;
    width: 17px;
    height: 17px;
    background-color: crimson;
    border-radius: 50%;
 position: absolute;
 top: -6px;
 margin-left: -9px;
 
  }
  .services__list{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top:50px ;
  }
  .services__item{
  
    margin-right: 30px;
  background-color: #fff;
  width: 300px;
  text-align: center;
  padding: 25px;
  box-shadow: 0 5px 25px rgba(1 1 1 /15%);
  border-radius: 10px;  
  }
  .services__item:last-child{
    margin-right: 0;
  }
  .services__item p{
    transition: transform .5s ease;
  }
  .services__icon{
  font-size: 62px;
  color: #DC143C;
  text-align: center;
  transition: transform .5s ease;
  }
  .services__icon:hover{
  
  transform: translateY(-10px);
  }
  .services__item p:hover{
    
  transform: translateY(20px);}