
 .skills{
    background-color: #000016;
   
  }
 
  .skills-description{
    color: #fff;
    display: flex;
    align-items: center;
  }
  .skills-description p{
    opacity: 0.6;
    width: 550px;
    margin-bottom: 30px;
  margin-top: 30px;
   }
  .my-skills{
    margin-left: auto;
    margin-top:50px;
  }
  .bar{
    margin-bottom: 15px;
    padding:10px;
   margin-left: 100px;
   
 
   
  }
  .info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;
  }
  .info span{
    font-size: 18px;
    font-weight: 500;
    margin-right: 300px;
  }
  .skills .line{
    position: relative;
    width: 60%;
    height: 15px;
    background-color: #ccc;
    border-radius: 2px;
  }
  .skills .line::before{
    content: '';
    position: absolute;
    height: 100%;
 top: 0;
 left: 0;
 border-radius:2px ;
   }
  .html::before{
 width:95% ;
 background-color: #FFCD3D;
  }
  .css::before{
 width:80% ;
 background-color: #FF5858;
  }
  .javascript::before{
 width:20% ;
 background-color: #FF7500;
  }